requests==2.31.0
browser-cookie3==0.19.1
psutil==5.9.5
pynput==1.7.6
mss==9.0.1
opencv-python==4.8.1.78
Pillow==10.0.1
robloxpy==0.1.1
roblox-py==0.0.25
cloudscraper==1.2.71
selenium==4.15.2
undetected-chromedriver==3.5.3
pycryptodome==3.19.0
python-dotenv==1.0.0
colorama==0.4.6
tqdm==4.66.1
setuptools==68.2.2
